{% extends "base.html" %}
{% block title %}
  Add Songs
{% endblock %}
{% block page_content%}
    <h1>This page adds songs</h1>
    <form action="/song/add" method="post">
      Song Name <br>
      <input type="text" name="name"> <br> <br>
      Song Year <br>
      <select name="year">
          {% for i in range(1950, 2025) %}
            {% if i == 2017 %}
              <option selected="selected">{{i}}</option>
            {% else %}
              <option>{{i}}</option>
            {% endif %}
          {% endfor %}
        </select> <br> <br>
      Song Lyrics <br>
      <input type="text" name="lyrics"> <br> <br>
      Song Artist <br>
      <select name="artist">
         {% for artist in artists %}
             <option>{{artist.name}}</option>
         {% endfor %}
       </select> <br> <br>
      <input type="submit" name="" value="Add Song">
    </form>
{% endblock %}
